.button_form button{
    border:2px solid rgb(42, 184, 42) ;
    background-color: rgba(102, 155, 22, 0.4);
    border-radius: 10px;
    padding: 2px;
    color: aliceblue !important;
}

td,th,tr{
    border: 2px solid rgb(61, 158, 31);
}
.body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 45%, rgba(2,203,249,1) 100%);
}
.div_2{
    border-left: 2px solid black;
}
.bg{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(47,158,190,1) 47%, rgba(59,125,185,1) 100%);
}
.account{
    display: flex;
    flex-direction: column;
    border: 2px solid snow;
    border-radius: 20px;
    margin: 2px;
    background-color: rgba(255, 0, 0, 0.338);
    color: black;
}